<div class="footer">
  <div class="">
    <div class="flex justify-between items-center px-8 py-1 gap-3">
      <!-- social -->
      <div class="flex justify-center items-center gap-3">
        <button>
          <img src="assets/images/footer/facebook.png" alt="" />
        </button>
        <button>
          <img src="assets/images/footer/instagram.png" alt="" />
        </button>
      </div>
      <!-- open hours -->
      <div class="flex gap-2">
        <div class="flex justify-center items-center">
          <img src="assets/images/footer/clock.png" alt="" />
        </div>

        <div class="flex flex-col text-[12px]">
          <span>weekdays 7am to 5pm</span>
          <span>weekend 8am to 3pm</span>
        </div>
      </div>

      <!-- contact -->
      <div class="flex gap-2">
        <div class="flex flex-col justify-center items-center gap-1">
          <img src="assets/images/footer/phone.png" alt="" />
          <img src="assets/images/footer/mail.png" alt="" />
        </div>

        <div class="flex flex-col text-[12px]">
          <span>+959 264 5074 09</span>
          <a href="">therangooncoffeeshop&#64;gmail.com</a>
        </div>
      </div>

      <!-- location  -->
      <div class="flex gap-2">
        <div class="flex justify-center items-center">
          <img src="assets/images/footer/location.png" alt="" />
        </div>

        <div class="flex flex-col text-[12px]">
          <span class="">No.26(B), Myay Nu Street , Myaynigone, Yangon.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <p class="text-[#543310] text-[12px] font-bold text-center p-1">
      Copyright © 2024. All rights reserved by The Rangoon Coffee Shop Co., Ltd.
    </p>
  </div>
</div>
