<div class="flex gap-3 justify-center">
  <button
    class="rounded-full border-2 px-4 text-white transition duration-200 ease-in"
    [ngClass]="{
      'border-[#543310] bg-[#ECB176]': selectedButton === 'hot',
      'border-[#ECB176] bg-[#543310]': selectedButton !== 'hot'
    }"
    (click)="selectButton('hot')"
  >
    Hot
  </button>
  <button
    class="rounded-full border-2 px-4 text-white transition duration-200 ease-in"
    [ngClass]="{
      'border-[#543310] bg-[#ECB176]': selectedButton === 'cold',
      'border-[#ECB176] bg-[#543310]': selectedButton !== 'cold'
    }"
    (click)="selectButton('cold')"
  >
    Cold
  </button>
  <button
    class="rounded-full border-2 px-4 text-white transition duration-200 ease-in"
    [ngClass]="{
      'border-[#543310] bg-[#ECB176]': selectedButton === 'Dessert',
      'border-[#ECB176] bg-[#543310]': selectedButton !== 'Dessert'
    }"
    (click)="selectButton('Dessert')"
  >
    Dessert
  </button>
</div>

<div class="flex flex-wrap gap-8 justify-center my-8">
  <div *ngFor="let product of listOfProducts">
    <div class="border-2 border-[#74512D] p-3 max-w-[250px] rounded-xl">
      <div class="pb-3">
        <img src="{{ product.image }}" alt="" />
      </div>

      <div class="p-3 border-t-2 border-[#74512D]">
        <p class="font-bold">{{ product.title }}</p>

        <p>{{ product.description }}</p>
        <!-- <button (click)="toProductDetail(product)">
        <p class="text-[#A94438] font-semibold">more options...</p>
      </button> -->
      </div>
      <div class="flex px-3 gap-4 items-center justify-between">
        <p>${{ product.price }}</p>
        <!-- <button
        class="buybtn"
        id="addToCartButton"
        (click)="addToCart(product)"
      >
        <img src="assets/images/menu/plus.png" alt="" />
      </button> -->
      </div>
    </div>
  </div>
</div>
