<!-- navigation bar -->
<div class="my-5">
  <div class="grid grid-cols-3 gap-4">
    <div class="">
      <img
        src="assets/images/navbar/shoplogo.png"
        alt="The Rangoon Coffee Shop"
        class="w-[200px]"
      />
    </div>
    <div class="flex justify-between items-center font-semibold">
      <span
        ><a routerLink="/" class="hover:text-[#964F05] hover:underline">
          Home
        </a></span
      >
      <span
        ><a routerLink="/menu" class="hover:text-[#964F05] hover:underline">
          Products
        </a></span
      >
      <span
        ><a routerLink="/about-us" class="hover:text-[#964F05] hover:underline">
          About Us
        </a></span
      >
      <span
        ><a href="" class="hover:text-[#964F05] hover:underline">
          Contact Us
        </a></span
      >
    </div>
    <div class="flex justify-end items-center px-24">
      <button
        *ngIf="!isLoggedIn"
        class="bg-[#7B3F00] text-white px-3 py-2 rounded-full font-semibold shadow-md"
        (click)="toLogin()"
      >
        Sign Up/Login
      </button>
      <div class="flex justify-center items-center gap-4" *ngIf="isLoggedIn">
        <button (click)="logOut()">
          <img
            src="assets/images/navbar/avatarprofile.png"
            alt="Profile"
            class="w-[30px]"
          />
        </button>
        <span>{{ this.user }}</span>
      </div>
    </div>
  </div>
</div>
