.buybtndetail {
  background-color: #543310;
  color: white;
  border: none;
  padding: 2px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.buybtndetail:hover {
  background-color: #74512d;
}
