<div class="container mx-auto">
  <div class="flex">
    <div class="p-4">
      <img src="{{ itemDetail.image }}" alt="detailImage" />
    </div>

    <div class="">
      <h1 class="py-6">{{ itemDetail.title }}</h1>
      <p>{{ itemDetail.description }}</p>
      <p class="py-6">$ {{ itemDetail.price }}</p>

      <div class="bg-[#FED8B1] w-full">
        <h2 class="font-bold text-center">Options</h2>
      </div>
      <div>
        <h2 class="py-2 font-bold text-[#543310]">Sugar Level</h2>
        <div class="flex">
          <div class="flex items-center me-4">
            <input
              id="inline-radio"
              type="radio"
              value=""
              name="inline-radio-group"
              class="w-4 h-4"
            />
            <label
              for="inline-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >More</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              id="inline-2-radio"
              type="radio"
              value=""
              name="inline-radio-group"
              class="w-4 h-4"
            />
            <label
              for="inline-2-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Normal</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              checked
              id="inline-checked-radio"
              type="radio"
              value=""
              name="inline-radio-group"
              class="w-4 h-4"
            />
            <label
              for="inline-checked-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Less</label
            >
          </div>
        </div>
      </div>

      <!-- <div>
        <h2 class="py-2 font-bold text-[#543310]">Temperature</h2>
        <div class="flex">
          <div class="flex items-center me-4">
            <input
              id="inline-radio"
              type="radio"
              value=""
              name="inline-radio-group"
              class="w-4 h-4"
            />
            <label
              for="inline-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Hot</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              id="inline-2-radio"
              type="radio"
              value=""
              name="inline-radio-group"
              class="w-4 h-4"
            />
            <label
              for="inline-2-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Cold</label
            >
          </div>
        </div>
      </div> -->

      <div class="flex py-6 gap-4 items-center justify-between">
        <button class="buybtndetail" id="addToCartButton">
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
