<div class="my-6 container">
  <div class="grid grid-cols-3 mx-5 gap-5">
    <div class="col-span-1">
      <div class="flex flex-col">
        <h1 class="py-1">First thing you need to drink some</h1>
        <h1 class="py-1 text-[#543310]">COFFEE</h1>
        <h2 class="py-1">
          Fuel your day with Aromatic delights:sip,Savor,Repeat! where your
          evenings are perfected with relaxation and rich flavours.
        </h2>
        <div class="py-6">
          <button class="menubtn">Menu</button>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <img
        src="assets/images/homepage/coffeeimg.png"
        alt="coffeeimg"
        class="xl:max-h-[350px] w-full"
      />
    </div>
  </div>

  <!-- Our Products -->
  <!-- <div class="mt-8">
    <div class="flex flex-col justify-center items-center py-4">
      <div><span>Our products</span></div>
      <div><h1>From top quality ingredients</h1></div>
    </div> -->

  <!-- products -->
  <!-- <div class="my-6">
      <div class="flex gap-4">
        <div *ngFor="let product of products">
          <div class="border-2 border-[#AF8F6F] p-4 rounded-lg">
            <div class="pb-3">
              <img src="{{ product.image }}" alt="" />
            </div>
            <div class="border-t-2 border-[#AF8F6F] py-2">
              <p>{{ product.title }}</p>
              <p>{{ product.description }}</p>
              <p>${{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
