<div class="container">
  <div class="flex flex-col justify-center items-center">
    <div><span>About us</span></div>
    <div>
      <h1>Why we are the best</h1>
    </div>
  </div>

  <div class="grid grid-cols-3 m-5 mt-4">
    <div class="col-span-1">
      <div class="flex flex-col">
        <h2 class="py-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam
          quam, imperdiet sit amet arcu non, auctor ultrices ex. Maecenas et
          massa ut ligula tincidunt euismod id ac ante.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Aliquam diam quam, imperdiet sit
          amet arcu non, auctor ultrices ex. Maecenas et massa ut ligula
          tincidunt euismod id ac ante.met arcu non, auctor ultrices ex.
          Maecenas et massa ut ligula tincidunt euismod id ac ante
        </h2>
        <div class="py-6">
          <a routerLink="/menu">
            <button class="menubtn">Read More</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="flex justify-center items-center gap-3">
        <img
          src="assets/images/about-us/leftaboutus.png"
          alt="coffeeimg"
          class=""
        />
        <img
          src="assets/images/about-us/rightaboutus.png"
          alt="coffeeimg"
          class=""
        />
      </div>
    </div>
  </div>
</div>
