/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.container {
  display: block;
  padding: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog {
  padding: 20px;
  background-color: #543310;
  color: white;
}
