/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  padding: 20px;
  justify-content: flex;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

.menubtn {
  background-color: #543310;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.menubtn:hover {
  background-color: #74512d;
}

.buybtn {
  background-color: #543310;
  color: white;
  border: none;
  padding: 2px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.buybtn:hover {
  background-color: #74512d;
}
