@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
  overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}
